<nav class="navbar navbar-fixed-top navbar-custom" role="navigation" ng-controller="InicioSesionController">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#!"><img src="img/LogoTop.png"></a>
    </div>

    <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse" >
        <li ng-class="{'active' : activeView == '/agenda'}" ><a href="#/agenda">Agenda Teatro</a></li>
        <li ng-class="{'active' : activeView == '/eventosdestacados'}" ><a href="#/eventosdestacados">Eventos Destacados</a></li>
        <li ng-class="{'active' : activeView == '/crearevento'}" ><a href="#/crearevento">Crear Evento <span class="sr-only">(current)</span></a></li>
        <!--<li ng-show="!sessionUser" class="logged" ng-class="{'active' : activeView == '/registro'}"><a href="#/registro">Registro</a></li>
        <li ng-show="sessionUser"><span>{{sessionUser.get('name')}}</span><a href="" ng-click="logout()">Logout</a></li>-->

        <li class="dropdown">
          <a ng-show="!sessionUser" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Abrir Sesión <span class="caret"></span></a>
          <a ng-show="sessionUser" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{sessionUser.get('name')}} <span class="caret"></span></a>
          <ul ng-show="!sessionUser" class="dropdown-menu">
            <li><a href="#/iniciarsesion">Iniciar Cuenta</a></li>
            <li><a href="#">Olvide Mi Contraseña</a></li>      
            <li role="separator" class="divider"></li>
            <li><a href="#/registro">Crear Cuenta Nueva</a></li>
          </ul>
          <ul ng-show="sessionUser" class="dropdown-menu">
            <li><a href="" ng-click="logout()">Cerrar Sesión</a></li>
            <li><a href="#">Cambiar Contraseña</a></li>      
            <li role="separator" class="divider"></li>
            <li><a href="#/crearevento">Crear Evento</a></li>
          </ul>
        </li>

    </ul>

  </div>
</nav>