<div class="margin bg-dark">
  <div class="container">
    <div class="row event">
      <div class="col-sm-4 col-sm-offset-2 text-right descripcion">
        <h2 class="align-center">{{Eventos.Nombre}}</h2>
        <p>{{Eventos.Descripcion}}</p>
        <p>{{Eventos.Fecha}}</p>
        <p>7:40 pm</p>
        <p>{{Eventos.Teatro}}</p>
        <p>Direccion: {{Eventos.Direccion}}</p>
        <p>{{Eventos.Precios}}</p>
        <p>Tel: {{Eventos.Telefono}} </p>
        <hr>
        <p>Compartir:</p>
        <div class="col-sm-6 text-center">
        <i class="fa fa-facebook fa-2x wow bounceIn " data-wow-delay=".1s"></i>
        <p><a href="https://www.facebook.com/colgandejoagendateatral" target="_blank">Facebook</a></p></div>
        <div class="col-sm-6 text-center">
        <i class="fa fa-twitter fa-2x wow bounceIn " data-wow-delay=".1s"></i><p><a href="https://www.twitter.com/_Colgandejo" target="_blank">Twitter</a></p>
      </div>
      <div class="col-sm-6 text-left">
        <a href="{{Eventos.Imagen}}" rel="prettyPhoto">
          <img src="{{Eventos.Imagen}}" alt="">
        </a>
        <p>Calificación</p><p>{{Eventos.Calificacion}}</p>
      </div>
      <hr>
      <div class="col-sm-12 text-left vermas">
        <button class="btn btn-default text-left">Ver más</button>
        <p>Mas Información:</p>
        <p>{{Eventos.DescripcionAdicional}}</p>
        <hr>
      </div>
      

      
    </div>
  </div>
</div>

      <hr>
       <!-- /container -->
      <section class="bg-dark">
        <div class="container">
          <div class="margin line margin-bot">
            <div class="row">
              <div class="col-sm-4 col-sm-offset-2 text-right">
                <h2 >Un espacio de cultura Agenda de Teatro para la creación y divulgación</h2>
              </div>
              <div class="col-sm-6 text-left">
                <p class="margin">Una estrategia diferente transformada en una plataforma de red social que conecta al público de teatro de Cali para divulgar la agenda de eventos.</p><p>
                Una plataforma para el conocimiento, creación y divulgación de las producciones teatrales en la ciudad.</p>
              
                <p>¡Comparte esta experiencia!</p>
              </div>
              <div class="col-sm-2 col-sm-offset-6 text-center">
                <i class="fa fa-facebook fa-2x wow bounceIn " data-wow-delay=".1s"></i>
                <p><a href="https://www.facebook.com/colgandejoagendateatral" target="_blank">Colgandejo</a></p></div>
              <div class="col-sm-2 text-center">
                <i class="fa fa-twitter fa-2x wow bounceIn " data-wow-delay=".1s"></i><p><a href="https://www.twitter.com/_Colgandejo" target="_blank">@_Colgandejo</a></p>
              </div>
              <div class="col-sm-2 text-center">
                <i class=" fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@Colgandejo.com">info@colgandejo.com</a></p>
              </div>
            </div> 
          </div>
        </div>
      </section>
