<div class="margin bg-dark">
  <div class="container">
    <div class="row event">
      <div class="col-sm-4 col-sm-offset-2 text-right descripcion">
        <h2 class="align-center">TierraDentro</h2>
        <p>Emergiendo del tsunami de basura que inunda las ciudades, unos seres utópicos evocan Tierradentro como la única memoria de milenios de olvido.</p>
        <p>Jueves 7,14 y 21 de Mayo</p>
        <p>7:40 pm</p>
        <p>Teatro Experimental de Cali</p>
        <p>calle 7a # 34-42</p>
        <p>general $15000 estudiante $10000</p>
        <p>Tel: 660 25 26 </p>
        <hr>
        <p>Compartir:</p>
        <div class="col-sm-4 text-center">
        <i class="fa fa-facebook fa-2x wow bounceIn " data-wow-delay=".1s"></i>
        <p><a href="https://www.facebook.com/colgandejoagendateatral" target="_blank">Facebook</a></p></div>
        <div class="col-sm-4 text-center">
        <i class="fa fa-twitter fa-2x wow bounceIn " data-wow-delay=".1s"></i><p><a href="https://www.twitter.com/_Colgandejo" target="_blank">Twitter</a></p>
        </div>
        <div class="col-sm-4 text-center">
        <i class=" fa fa-instagram fa-2x wow bounceIn" data-wow-delay=".1s"></i>
        <p><a href="mailto:info@Colgandejo.com">Instagram</a></p>
        </div>
      </div>
      <div class="col-sm-6 text-left">
        <a href="img/header.jpg" rel="prettyPhoto">
          <img src="img/header.jpg" alt="">
        </a>
        <p>Calificación</p><p>puntos</p>
      </div>
      <hr>
      <div class="col-sm-12 text-left vermas">
        <button class="btn btn-default text-left">Ver más</button>
        <p>Mas Información:</p>
        <p>Infección es un texto de 1966, Caicedo tiene 15 años cuando lo escribe. La guerra de Vietnam era una amenaza de guerra atómica que pesaba como una espada de Damocles en la conciencia de los púberes jóvenes del mundo, cuyas hormonas desenfrenadas, parecían obedecer al presagio inminente del fin del mundo. El joven Caicedo exasperado por la cálida y provincial Cali, odia infinitamente la crueldad flemática de su ciudad natal que duerme plácidamente el sueño de los justos. Como todas las comarcas humanas, parece existe por existir, indiferente a la atroz dificultad del amor que azota a los jóvenes quienes con sus dramas sexuales son los que pese a la hipocresía moral poblaran de gente, las plazas, las calles, los buses, los teatros, las fiestas, de su ciudad y las de todas las ciudades del mundo.

        La Performance se hilvana en una serie de 11 personajes que recrean con humor una amalgama entre el odio y lo odiado. El odio sin embargo es un drama, es la mixtura entre la impotencia sexual que le impone a un joven la hipocresía moral y la contundente realidad, rebosante de superpotencia sexual, en la cúspide de su vida reproductiva. La bronca es la respuesta a la estafa que esta sociedad opera contra un adolecente superdotado de toda la fuerza de la vida para dar la vida. Está claro que con la bronca este joven puede dar lo peor, pero lo peor no lo da, porque descubre que perdiendo una potencia para realizarse sexualmente gana por sus medios dos potencias superiores: una que es la potencia ilimitada del deseo y la otra, el poder del arte, que para amar lo coloca por encima de cualquier frustración de la realidad.</p>
        <hr>
      </div>
      

      
    </div>
  </div>
</div>

      <hr>
       <!-- /container -->
      <section class="bg-dark">
        <div class="container">
          <div class="margin line margin-bot">
            <div class="row">
              <div class="col-sm-4 col-sm-offset-2 text-right">
                <h2 >Un espacio de cultura Agenda de Teatro para la creación y divulgación</h2>
              </div>
              <div class="col-sm-6 text-left">
                <p class="margin">Una estrategia diferente transformada en una plataforma de red social que conecta al público de teatro de Cali para divulgar la agenda de eventos.</p><p>
                Una plataforma para el conocimiento, creación y divulgación de las producciones teatrales en la ciudad.</p>
              
                <p>¡Comparte esta experiencia!</p>
              </div>
              <div class="col-sm-2 col-sm-offset-6 text-center">
                <i class="fa fa-facebook fa-2x wow bounceIn " data-wow-delay=".1s"></i>
                <p><a href="https://www.facebook.com/colgandejoagendateatral" target="_blank">Colgandejo</a></p></div>
              <div class="col-sm-2 text-center">
                <i class="fa fa-twitter fa-2x wow bounceIn " data-wow-delay=".1s"></i><p><a href="https://www.twitter.com/_Colgandejo" target="_blank">@_Colgandejo</a></p>
              </div>
              <div class="col-sm-2 text-center">
                <i class=" fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:info@Colgandejo.com">info@colgandejo.com</a></p>
              </div>
            </div> 
          </div>
        </div>
      </section>
